*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: .9375rem;
}

.calculator{
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    border: .0625rem solid #a2a2a2;
    font-size: 2rem;
}

.calculator_display{
padding: 1.5625rem .9375rem;
width: 100%;
text-align: right;
border: .0625rem solid #a2a2a2;
overflow-x: auto;
}

.calculator_keypad{
display: flex;
width: 100%;
}
.key_pad_numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.key_pad_btn{
  width: 25%;
  padding: .9375rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: .0625rem solid #a2a2a2;
}

.key_pad_btn:hover{
    filter: brightness(90%);
    transition: filter .25s;
}

.key_pad_btn.yellow{
background-color:  #ffd83d;
}
.key_pad_btn.large{
    width: 50%;
}
.key_pad_btn.dark{
    background-color: #c8c8c8;
}

@media(max-height: 25.875rem) {
  .container{
    height: auto;
  }
}
